<h1>Welcome, <%= @user.first_name %>!</h1>
<p>And thanks for joining Canadian Biomaterials Society Alberta Student Chapter. Before you can login, an administrator must verify your account. If cannot login after a couple days, feel free to email us at bioasc@ualberta.ca.</p>
<p>Thanks,<br>The BioASC team</p>
